.first-section {
  background-color: lightcoral;
  height: 100vh;
  padding: 3rem 5rem;
}

.second-section {
  background-color: lightgreen;
  height: 100vh;
  padding: 3rem 5rem;
}

.header {
}

.sub-header {
  font-weight: 300;
}
